# Byte-compiled / optimized / DLL files
__pycache__/
.ipynb_checkpoints
.idea
*.py[cod]
*.zip

# C extensions
*.so

# Distribution / packaging
bin/
CIM/BiV_Modelling_v2/test_data_automated/*
CIM/BiV_Modelling_v2/test_data_manual/*
CIM/BiV_Modelling_v2/results_automated/*
CIM/BiV_Modelling_v2/results_manual/*
CIM/BiV_Modelling_v2/*.zip
data/processed/*
data/raw/Longitudinal Raw MRI/*
data/raw/Longitudinal Cases/*
data/raw/LongitudinalGPT/*
data/final/*
data/segmentations/*
data/output/*
!data/raw/Longitudinal Raw MRI/CHD1055301
!data/processed/CHD1055301
!data/final/CHD1055301
!data/segmentations/CHD1053301
models/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Rope
.ropeproject

# Django stuff:
*.log
*.pot

# Sphinx documentation
docs/_build/